#masthead-ad.ytd-rich-grid-renderer.style-scope,
div#home-page-skeleton,
html[hide="true"] .annOption,
html[hide="true"] .autonav-endscreen,
html[hide="true"] button[data-tooltip-target-id="ytp-autonav-toggle-button"],
html[hide="true"]
  ytd-watch-flexy:not([playlist])
  .ytp-chrome-controls
  .ytp-next-button,
/* html[hide="true"] #actions.ytd-watch-metadata,
html[hide="true"] #info > #menu-container, */
html[hide="true"] .ytp-ce-element,
html[hide="true"] #owner.ytd-watch-metadata,
html[hide="true"] #top-row.ytd-video-secondary-info-renderer,
html[hide="true"] #primary-inner > #meta,
html[hide="true"] ytd-live-chat-frame#chat,
html[hide="true"] #comment-teaser,
html[hide="true"] #comments,
html[hide="true"] #description.ytd-watch-metadata,
html[hide="true"] ytd-expander.ytd-video-secondary-info-renderer,
html[hide="true"] #donation-shelf,
html[hide="true"] .html5-endscreen:not(.mweb-endscreen),
html[hide="true"] ytd-browse[page-subtype="home"] .ytd-rich-grid-renderer,
html[hide="true"]
  ytd-browse[role="main"]:not([page-subtype]):not(
    :has(#header #page-header-container)
  ):has(ytd-feed-filter-chip-bar-renderer)
  .ytd-rich-grid-renderer,
/* html[hide="true"] #guide-spacer,
html[hide="true"] #masthead-container, */
html[hide="true"] #clarify-box,
html[hide="true"] #offer-module,
html[hide="true"] #ticket-shelf,
html[hide="true"] .ytp-drawer,
html[hide="true"] yt-alert-with-actions-renderer,
html[hide="true"] ytd-merch-shelf-renderer,
html[hide="true"] ytd-metadata-row-container-renderer > #always-shown,
/* html[hide="true"] #primary-inner > #info,
html[hide="true"] ytd-watch-metadata, */
html[hide="true"] .ytp-videowall-still[data-is-mix="true"],
html[hide="true"] a[href*="start_radio=1"],
html[hide="true"]
  ytd-browse[page-subtype="home"]
  ytd-video-meta-block[radio-meta],
html[hide="true"] ytd-compact-radio-renderer,
html[hide="true"] ytd-radio-renderer,
html[hide="true"] ytd-rich-item-renderer:has(a[href*="start_radio=1"]),
html[hide="true"] #sections > ytd-guide-section-renderer:nth-last-child(2),
html[hide="true"]
  #buttons.ytd-masthead
  > ytd-notification-topbar-button-renderer.ytd-masthead,
html[hide="true"] ytd-notification-topbar-button-shape-renderer,
/* html[hide="true"] #playlist, */
html[hide="true"] .ytd-comment-renderer yt-img-shadow,
html[hide="true"] #items.ytd-watch-next-secondary-results-renderer,
html[hide="true"] .ytd-watch-grid > #contents,
html[hide="true"] .ytp-pause-overlay,
/* html[hide="true"] .yt-simple-endpoint[href="/"], */
/* html[hide="true"] .yt-simple-endpoint[href^="/index"], */
html[hide="true"]
  #primary
  > .ytd-two-column-search-results-renderer
  ytd-horizontal-card-list-renderer,
html[hide="true"]
  #primary
  > .ytd-two-column-search-results-renderer
  ytd-shelf-renderer,
html[hide="true"] .yt-simple-endpoint[title="Shorts"],
html[hide="true"] #secondary.ytd-watch-flexy,
html[hide="true"] .yt-simple-endpoint[href^="/feed/subscriptions"],
html[hide="true"]:not([yt-signed-out])
  #sections
  > ytd-guide-section-renderer:nth-child(2),
html[hide="true"] ytd-browse[page-subtype="subscriptions"],
html[hide="true"] .yt-simple-endpoint[href^="/feed/explore"],
html[hide="true"] .yt-simple-endpoint[href^="/feed/trending"],
html[hide="true"]:not([yt-signed-out])
  #sections
  > ytd-guide-section-renderer:nth-child(3),
html[hide="true"][yt-signed-out]
  #sections
  > ytd-guide-section-renderer:nth-child(4),
html[hide="true"] ytd-browse[page-subtype="trending"],
paper-dialog > ytd-single-option-survey-renderer[dialog][dialog][dialog],
ytd-mealbar-promo-renderer[dialog],
ytd-primetime-promo-renderer {
  display: none !important;
}
html[hide="true"] #header.ytd-c4-tabbed-header-renderer,
html[hide="true"] #page-manager.ytd-app {
  margin-top: 0 !important;
}
html[hide="true"] ytd-mini-guide-renderer.ytd-app {
  top: 0 !important;
}
html[hide="true"] ytd-video-primary-info-renderer {
  border: 0 !important;
}
html[hide="true"]
  ytd-watch-flexy[flexy][is-two-columns_]:not([fullscreen]):not([theater]) {
  --ytd-watch-flexy-max-player-width: calc(
    var(--ytd-watch-flexy-chat-max-height) * var(--ytd-watch-flexy-width-ratio) /
      var(--ytd-watch-flexy-height-ratio)
  ) !important;
}
#content > #page-manager.ytd-app {
  overflow-y: hidden !important;
}
#surveys,
.mealbar-promo-renderer,
html[hide="true"]
  .player-controls-middle
  > button:not(.player-control-play-pause-icon),
html[hide="true"] .ytm-autonav-bar,
html[hide="true"] .ytm-autonav-toggle-button-container,
html[hide="true"] .slim-video-metadata-actions,
html[hide="true"] ytm-slim-owner-renderer,
html[hide="true"] ytm-comment-section-renderer,
html[hide="true"] ytm-comments-entry-point-header-renderer,
html[hide="true"] ytm-engagement-panel,
html[hide="true"] .slim-video-metadata-header-content > c3-icon,
html[hide="true"] .slim-video-metadata-info,
html[hide="true"] ytm-donation-shelf-renderer-outer,
html[hide="true"] .ytp-mweb-endscreen-play-next,
html[hide="true"] .ytp-mweb-endscreen-play-previous,
html[hide="true"] div[tab-identifier="FEwhat_to_watch"],
html[hide="true"] .mobile-topbar-header,
html[hide="true"] ytm-compact-offer-module-renderer,
html[hide="true"]
  ytm-item-section-renderer[section-identifier="slim-video-metadata"],
html[hide="true"] ytm-compact-radio-renderer,
html[hide="true"] ytm-radio-renderer,
html[hide="true"] ytm-playlist,
html[hide="true"] .comment-icon-container,
html[hide="true"] ytm-item-section-renderer[section-identifier="related-items"],
html[hide="true"]
  ytm-pivot-bar-renderer
  > ytm-pivot-bar-item-renderer:has(.pivot-w2w),
html[hide="true"]
  ytm-pivot-bar-renderer
  > ytm-pivot-bar-item-renderer:has(.pivot-shorts),
html[hide="true"] div[tab-identifier="FEsubscriptions"],
html[hide="true"]
  ytm-pivot-bar-renderer
  > ytm-pivot-bar-item-renderer:has(.pivot-subs),
html[hide="true"] div[tab-identifier="FEexplore"],
html[hide="true"] div[tab-identifier="FEtrending"],
html[hide="true"]
  ytm-pivot-bar-renderer
  > ytm-pivot-bar-item-renderer:has(.pivot-trending) {
  display: none !important;
}
html[hide="true"] #secondary.ytd-watch-grid {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 300px;
}
html[hide="true"] #player-container-id,
html[hide="true"]
  ytm-item-section-renderer[section-identifier="related-items"] {
  top: 0 !important;
}
html[hide="true"] ytm-app.sticky-player {
  padding-top: 0 !important;
}
html[hide="true"] #player-shorts-container,
html[hide="true"] .ytd-shorts,
html[hide="true"]
  yt-chip-cloud-chip-renderer:has(yt-formatted-string[title="Shorts"]),
html[hide="true"] yt-tab-shape[tab-title="Shorts"],
html[hide="true"] ytd-compact-video-renderer:has(a[href*="/shorts/"]),
html[hide="true"] ytd-notification-renderer:has(> a[href^="/shorts/"]),
html[hide="true"] ytd-reel-shelf-renderer,
html[hide="true"] ytd-rich-grid-renderer[is-shorts-grid],
html[hide="true"] ytd-rich-item-renderer:has(a[href*="/shorts/"]),
html[hide="true"] ytd-rich-shelf-renderer[is-shorts],
html[hide="true"] ytd-video-renderer:has(a[href*="/shorts/"]),
html[hide="true"] ytm-reel-shelf-renderer,
html[hide="true"] ytm-rich-grid-renderer.is_shorts,
html[hide="true"] ytm-video-with-context-renderer:has(a[href*="/shorts/"]) {
  display: none !important;
}
